.request-details-container {
    height: calc(100vh - 16px);
    width: 100%;
    overflow: hidden;
    .request-details-content{
        .request-details{
            border: 1px solid lightgrey;
            padding:15px 20px;
            margin-bottom: 20px;
        }
    }
}